

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;

}

.wrap {
    width: 400px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}


.wrap-week h4 {
    color: gray;
}
.wrap-week h4.active {
    color: white;
    font-size: 26px;

}

.wrap-watch h2 {
    font-size: 54px;
}

.wrap-timer {}

